.pmpromc-checkbox-label {
    cursor: pointer;
	display: inline-block;
	width: auto;
}

.pmpromc-checkbox-list-scrollable {
	height: 100px;
	width: 300px;
	background: #FFFFFF;
	border: 1px solid #CCC;
	overflow: auto;
}